Click==7.0
docopt==0.6.2
Flask==1.0.2
importlib-metadata==0.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
numpy==1.16.2
path.py==11.5.0
pkg-resources==0.0.0
python-Levenshtein==0.12.0
SpeechRecognition==3.8.1
termcolor==1.1.0
tqdm==4.31.1
unicodedata2==11.0.0
webvtt-py==0.4.2
Werkzeug==0.15.2
youtube-dl==2019.4.24
zipp==0.3.3
